
<div id="pizzaDiv">
    

</div>

@section scripts{ 
    <script>

        $(document).ready(function() {
            LoadMorePizzas();
        });

        $(window).scroll(function() {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                LoadMorePizzas();
            }
        });
        function LoadMorePizzas() {
            $.ajax({
                type: 'GET',
                url: '/api/PizzaData',
                dataType: 'json',
                success: function(jsonData) {
                    if (jsonData == null) {
                        alert('no data returned');
                        return;
                    }

                    $.each(jsonData, function (index, pizza) {

                        var PizzaSummaryString = '<div class="col-sm-4 col-lg-4 col-md-4"> ' +
                            '  <div class="thumbnail">' +
                            '     <img src="' + pizza.imageThumbnailUrl + '" alt="">' +
                            '      <div class="caption">' +
                            '         <h3 class="pull-right">' + pizza.price + '</h3>' +
                            '         <h3>' +
                            '             <a href=/Pizza/Details/' + pizza.pieId + '>' + pizza.name + '</a>' +
                            '         </h3>' +
                            '         <p>' + pizza.shortDescription + '</p>' +
                            '    </div>' +
                            '    <div class="addToCart">' +
                            '        <p class="button">' +
                            '             <a class="btn btn-primary" href=/ShoppingCart/AddToShoppingCart?pizzaId=' + pizza.pizzaId + '>Add to cart</a>' +
                            '         </p>' +
                            '     </div>' +
                            '  </div>' +
                            '</div>';

                        $('#pizzaDiv').append(PizzaSummaryString);
                    });
                },
                error: function (ex) {
                    alert(ex);
                }
            });
            return false;
        }
    </script>
}